html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
}

html {
  font-size: 16px; /* garante consistência */
}

body{
    background-color: #fcf2d1;
    background-size:cover;
    background-image: url("../imgs/Background.png");
}

.titulo-logo{
    display: flex;
    margin: 0;
}

.icone-img{
    width: 19vh;
    margin-top: 2.6rem;
    margin-left: 2.6rem;
}

aside{
    text-align: center;
    margin: 0;
}

header{
    flex: 1;
    text-align: center;
}

.titulo{
    color: #85e7ff;
    font-size: clamp(40px, 2.5vw + 2.5vh, 80px);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px 0px #231f20;
    margin: 0;
    margin-top: 5rem;
}

.linq{
    margin: 1rem;
    font-size: 1.5rem;
}

nav{
    margin-left: 1rem;
    margin-top: 1rem;
}

a{
    color: #ff737d;
    text-shadow: 0.2px 0.2px 0 black;
    font-size: 16px;
}

a:hover{
    cursor: pointer;
    color: #f25165;
}

.lateral{
    display: flex;
    justify-content: center;
    align-items: center;
}

.quad{
    width: 80%;
    border: 5px #231f20 solid;
    border-radius: 8%;
    padding: 2rem;
    height: 100vh;
    background-color: #85e7ff;
    margin-top: 2rem;
    
}

footer{
    background-color: #ff737d;
    height: 4rem;
    margin-top: 5vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.text{
    font-size: 1.5rem;
}